pyvenv.cfg
Scripts
Lib/
data/
data_sanitized/
data_scanned_pdf/
*.exe
__pycache__/
id_rsa_project_crayon 1
data_new
data_new_backup
data_sanitized_backup
data_sanitized_backup_final
data-new
data_sanitzed-temp
documents1
documents2
documents3